<div class="modal-dialog" role="document" id="modal-content">
  <div class="modal-content" id="modal-content-small">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Update Password</h4>
    </div>
    <%= simple_form_for(@user, url: update_password_user_path(@user), method: :put, html: { id: 'edit_password' }, remote: true) do |f| %>
    <div class="modal-body">
      <%= render 'shared/errors', object: @user if @user.errors.any? %>
      <%= f.input :current_password, required: true %>
      <%= f.input :password, required: true, hint: 'Your password has to be at least 8 characters long.' %>
      <%= f.input :password_confirmation, required: true %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-secondary pull-left" data-dismiss="modal" type="button">
        Cancel
      </button>
      <%= f.button :submit, 'Update Password', class: 'btn-outline-success' %>
    </div>
    <% end %>
  </div><!-- /.modal-content -->
</div>
