<div class="col-xs-10">
  <div class="card card-block">
    <h3>
      <%= @project.name %>
      <small>v<%= @project.version %></small>
      <% if current_user.admin? %>
        <span style="display:inline-block;float:right">
          <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to 'Delete', @project, class: 'btn btn-sm btn-outline-danger', method: 'delete' %>
        </span>
      <% end %>
    </h3>
    <hr>
    <%= render @project.reports %>
  </div>
</div>

<%= link_to new_report_path, class: 'floating-btn', id: 'new-report', data: { toggle: 'modal' }, remote: true do %>
  <span class="mega-octicon octicon-plus"></span>
<% end %>
