<% unless activity.owner.nil? || activity.trackable.nil? || activity.parameters.nil? %>
  <div class="row">
    <div class="col-xs-1 text-xs-right">
      <span class="octicon octicon-tag text-muted"></span>
    </div>
    <div class="col-xs-13" style="padding-left:0">
      <small class="text-muted">
        <%= link_to activity.owner.name, activity.owner %> removed label
        <span class="label label-sm" style="background-color:<%= activity.parameters[:color] %>">
          <i class="octicon octicon-tag"></i>
          <%= activity.parameters[:title] %>
        </span> from
        <%= link_to activity.trackable.title, activity.trackable %>
        <%= time_ago_in_words(activity.created_at) %> ago.
      </small>
    </div>
  </div>
  <hr>
<% end %>
