<div class="col-xs-10">
  <section class="card card-block">
    <span class="text-muted">
      <% unless @report.reporter.nil? %>
        <%= link_to @report.reporter.name, @report.reporter %>
      <% end %>
      <%= time_ago_in_words(@report.created_at) %> ago.
    </span>
    <h3>
      <%= @report.title %>
      <small class="text-muted">#<%= @report.id.to_s %></small>
      <span class="actions">
        <% if @report.assignee?(current_user) || @report.reporter?(current_user) %>
          <% if @report.closed? %>
            <%= link_to 'Reopen', open_report_path(@report), class: 'btn btn-outline-danger btn-sm', method: 'put' %>
          <% else %>
            <%= link_to 'Close', close_report_path(@report), class: 'btn btn-outline-success btn-sm', method: 'put' %>
          <% end %>
        <% end %>
        <% if @report.reporter?(current_user) %>
          <%= link_to 'Edit', edit_report_path(@report), class: 'btn btn-outline-secondary btn-sm' %>
        <% end %>
      </span>
    </h3>
    <hr>
    <p id="report-labels">
      <% if @report.closed? %>
        <span class="label label-success"><i class="octicon octicon-issue-closed"></i> Closed</span>
      <% else %>
        <span class="label label-danger"><i class="octicon octicon-issue-opened"></i> Open</span>
      <% end %>
      <%= render @report.labels %>
      <% if @report.assignee?(current_user) || @report.reporter?(current_user) %>
        <%= link_to edit_labels_report_path(@report), remote: true, class: 'btn btn-sm btn-outline-primary pull-right' do %>
          Edit Labels
        <% end %>
      <% end %>
    </p>
    <p class="lead">
      <%= @report.description %>
    </p>
    <hr>
    <div class="row">
      <p class="col-xs-6">
        <i class="octicon octicon-repo"></i> Project:
        <%= link_to @report.project.name, @report.project %>
      </p>
      <p class="col-xs-8">
        <span><i class="octicon octicon-squirrel"></i> Assignee: </span>
        <% if @report.assignee?(current_user) || @report.reporter?(current_user) %>
          <%= link_to edit_assignee_report_path(@report), remote: true, id: 'edit-assignee' do %>
            <% if @report.assignee.nil? %>
              <span>Add Assignee</span>
            <% else %>
              <span>
                <%= @report.assignee.name %>
              </span>
            <% end %>
          <% end %>
        <% elsif @report.assignee.nil? %>
          <%= link_to assign_to_me_report_path(@report), method: 'put', id: 'edit-assignee' do %>
            <span>Assign to me</span>
          <% end %>
        <% else %>
          <%= link_to @report.assignee.name, @report.assignee %>
        <% end %>
      </p>
    </div>
  </section>

  <section class="card card-block">
    <%= render 'comments/form', locals: { report: @report, comment: @comment }%>
    <%= render_activities @activities %>
  </section>
</div>

<%= link_to new_report_path, class: 'floating-btn', id: 'new-report', remote: true do %>
  <span class="mega-octicon octicon-plus"></span>
<% end %>
