<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Tell the browser which encoding we have here -->
  <meta charset="utf-8">
  <!-- Scale properly on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Force the IE to use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Issues</title>

  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if controller.controller_name == 'sessions' || controller.controller_name == 'registrations' || controller.controller_name == 'passwords' %>
  <body class="devise">
<% else %>
  <body>
<% end %>
  <div class="container-fluid">
    <%= render 'shared/navigationbar' unless current_user.nil? %>
    <div class="row">
      <%= render 'shared/sidenavigation' unless current_user.nil? %>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/modal' %>
  <%= render 'shared/flash_messages' if flash.any? %>
</body>
</html>
