<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Tell the browser which encoding we have here -->
  <meta charset="utf-8">
  <!-- Scale properly on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Force the IE to use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the web crawler what to do -->
  <meta name="robots" content="index, follow, noodp">
  <!-- The Site's description -->
  <meta name="description" content="Hello World!">
  <!-- Keywords for search engines, although google doesn't use them -->
  <meta name="keywords" content="Hello, World">

  <!-- Used by Facebook when someone shares the current content -->
  <meta property="og:url" content="{{pageUrl}}">
  <meta property="og:image" content="{{imageUrl}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:title" content="{{pageTitle}}">
  <meta property="og:site_name" content="{{siteTitle}}">
  <meta property="og:see_also" content="{{homepageUrl}}">

  <!-- Used by Google+ when someone shares the current content -->
  <meta itemprop="name" content="{{pageTitle}}">
  <meta itemprop="description" content="{{description}}">
  <meta itemprop="image" content="{{imageUrl}}">

  <!-- Used by Twitter when someone shares the current content -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{pageUrl}}">
  <meta name="twitter:title" content="{{pageTitle}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{imageUrl}}">

  <title>Issues</title>

  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if controller.controller_name == 'sessions' || controller.controller_name == 'registrations' || controller.controller_name == 'passwords' %>
  <body class="devise">
<% else %>
  <body>
<% end %>
  <div class="container-fluid">
    <%= render 'shared/navigationbar' unless current_user.nil? %>
    <div class="row">
      <%= render 'shared/sidenavigation' unless current_user.nil? %>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/modal' %>
  <%= render 'shared/flash_messages' if flash.any? %>
</body>
</html>
